body{
	background-color: antiquewhite;
	background-image: url("chip.png");
}

.the-table{
	background-color: #08600a;
	border: 25px solid #471f08;
	margin-top:  10px;
	padding: 30px 0;
	border-radius:  25px;
}

.head{
	text-align: center;
	background-color: antiquewhite;
	font-family: Verdana;
	font-size: 60px;
	color: #471f08;
	height: 100px;
}

.row{
	padding: 20px;
}

.card{
	height:  120px;
	width: 80px;
	background-color: #08500a;
	margin:  5px;
	text-align: center;
}
.deck{
	height:  120px;
	width: 80px;
	background-color: #08600a;
	margin:  5px;
	text-align: center;
}

.disabled{
	visibility: hidden;
}

img{
	max-height: 100%;
	border-radius: 5px;
}

.dealer-total, .player-total{
	color: white;
	font-style: italic;
	font-size: 16px;
}

button{
	background-color: lightgreen; 
    border: 2px solid #471f08;
    color: #471f08;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana;
}

/* .hit-button{
	visibility: hidden;
}

.stand-button{
	visibility: hidden;
} */


.hover{
	font-size: 24px;

}

.message{
	text-align: center;
	color: white;
	font-size:  16px;
	margin-top: -40px;
}

.reset{
	text-align: center;
	color: white;
	font-size: 16px;
	display: none;
}















