body{
	background-color: antiquewhite;
}

.the-table{
	background-color: #08600a;
	border: 25px solid #471f08;
	margin-top:  10px;
	padding: 30px 0;
	border-radius:  25px;
}

.head{
	text-align: center;
	font-family: Verdana;
	font-size: 50px;
	color: #471f08;
}

.row{
	padding: 20px;
}

.card{
	height:  120px;
	width: 80px;
	color: black;
	background-color: #08500a;
	margin:  5px;
}

img{
	max-height: 100%;
}

.dealer-total, .player-total{
	color: white;
	font-style: italic;
	font-size: 16px;
}

button{
	background-color: lightgreen; 
    border: 2px solid #471f08;
    color: #471f08;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana;
}

.message{
	text-align: center;
	color: white;
	font-size:  16px;
}




















